/* Webfont: Merchant-LightCondensed */@font-face {
    font-family: 'MerchantLightCond';
    src: url('Merchant-LightCondensed.woff2') format('woff2'), /* Modern Browsers */
         url('Merchant-LightCondensed.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

