/* Webfont: Merchant-Expanded */@font-face {
    font-family: 'MerchantExp';
    src: url('Merchant-Expanded.woff2') format('woff2'), /* Modern Browsers */
         url('Merchant-Expanded.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

