/* Webfont: Merchant-SemiBoldCondensed */@font-face {
    font-family: 'MerchantSemBdCond';
    src: url('Merchant-SemiBoldCondensed.woff2') format('woff2'), /* Modern Browsers */
         url('Merchant-SemiBoldCondensed.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

