/* Webfont: Merchant-Regular */@font-face {
    font-family: 'Merchant';
    src: url('Merchant-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('Merchant-Regular.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

