/* Webfont: Merchant-Condensed */@font-face {
    font-family: 'MerchantCond';
    src: url('Merchant-Condensed.woff2') format('woff2'), /* Modern Browsers */
         url('Merchant-Condensed.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

