/* Webfont: Merchant-MediumExpanded */@font-face {
    font-family: 'MerchantMedExp';
    src: url('Merchant-MediumExpanded.woff2') format('woff2'), /* Modern Browsers */
         url('Merchant-MediumExpanded.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

