/* Webfont: Merchant-BoldCondensed */@font-face {
    font-family: 'MerchantCond';
    src: url('Merchant-BoldCondensed.woff2') format('woff2'), /* Modern Browsers */
         url('Merchant-BoldCondensed.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

