/* Webfont: Merchant-ExtraBold */@font-face {
    font-family: 'MerchantExtBd';
    src: url('Merchant-ExtraBold.woff2') format('woff2'), /* Modern Browsers */
         url('Merchant-ExtraBold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

