/* Webfont: Merchant-ExtraBoldExpanded */@font-face {
    font-family: 'MerchantExtBdExp';
    src: url('Merchant-ExtraBoldExpanded.woff2') format('woff2'), /* Modern Browsers */
         url('Merchant-ExtraBoldExpanded.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

