.Categories {
  width: 80vw;
  margin: 30px auto;
}
.List {
  max-width: 1200px;
  margin: 0 auto;
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 10px 0;
}
.Link {
  text-decoration: none;
  color: gray;
}

.Divider {
  margin: 20px 0;
}
