.Footer {
  margin-top: 100px;
  width: 100%;
  background-color: #000 !important;
}
.FooterList {
  color: #fff;
  opacity: 0.65;
  justify-content: flex-start;
  padding: 100px 0;
}
.FooterContainer {
  display: flex;
  flex-direction: column !important;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px;
}
.FooterTitle {
  font-weight: 600;
  padding-bottom: 20px;
}
.Icon,
.Link {
  color: #fff !important;
  opacity: 0.65;
  text-decoration: none !important;
  transition: ease 0.3s;
  margin: 5px !important;
}
.Icon:hover,
.Link:hover {
  opacity: 1;
  text-decoration: none !important;
}
.Contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.Contact span {
  padding-bottom: 10px;
}
.Creator {
  height: 100px;
  text-align: center;
  margin-top: 50px;
  color: #fff;
  opacity: 0.5;
  letter-spacing: 2px;
  font-weight: 200;
}
.Divider {
  background-color: #fff !important;
}

@media screen and (min-width: 600px) {
  .Footer {
    margin: 0 auto;
  }
  .FooterList {
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 0 auto;
  }
}
