@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Fonts";
  src: url("../assets/font/MerchantTypeface/Variable-TT/Merchant-VF.ttf");
}
.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  overflow: hidden;
}
.HeroImage {
  height: 600px;
  object-fit: cover;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Hero {
  background: url("../assets/hero/Hero.jpg") no-repeat center center;
  background-size: cover;
  font-family: "Fonts", cursive !important;
}
.HeroTextContainer {
  position: relative;
  bottom: 90px;
  right: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}
.HeroText {
  font-size: 45px !important;
  font-weight: 100;
  color: #000;
  text-align: right;
}

.HeroTextContainer h3 {
  font-family: "Montserrat", sans-serif !important;
  margin-bottom: 40px;
  font-weight: 400;
}
/* delivery */
.DeliveryContainer {
  margin: 100px 0;
}
.Delivery {
  background-color: #fae0df;
  padding: 0px;
  width: 100%;
}
.DeliveryItem {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
}
.Icon {
  width: 50px !important;
  height: 50px !important;
}
.DeliveryText {
  font-size: 20px;
  font-weight: 500;
}
.DeliveryGrid {
  max-width: 1200px;
  margin: 0 auto !important;
}
.SvgContainerOne {
  overflow: hidden;
  height: 98px;
}
.SvgContainer {
  overflow: hidden;
}
.Svg1 {
  fill: #fae0df;
  width: 100vw;
  height: 100px;
  transform: rotate(180deg) scaleX(-1);
}
.Svg {
  fill: #fae0df;
  width: 100vw;
  height: 200px;
  transform: scaleX(-1);
}

@media screen and (min-width: 380px) {
  .Icon {
    width: 70px !important;
    height: 70px !important;
  }
}

@media screen and (min-width: 600px) {
  .Hero {
    background: url("../assets/hero/Hero1.jpg") no-repeat center center;
    background-size: cover;
  }
  .HeroImage {
    height: 700px;
  }
  .HeroText {
    font-size: 65px !important;
  }
  /* delivery */

  .Delivery {
    padding: 100px 30px;
  }
  .SvgContainerOne {
    height: 80px;
  }

  .Svg1 {
    height: 90px;
  }

  .DeliveryItem {
    height: 200px;
  }
  .DeliveryText {
    font-size: 30px;
  }
  .DeliveryTextSpan {
    color: gray;
    font-size: 15px;
  }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 900px) {
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
