@font-face {
  font-family: "Fonts";
  src: url("../assets/font/MerchantTypeface/Variable-TT/Merchant-VF.ttf");
}
.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.HeroImage {
  height: 600px;
  object-fit: cover;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Hero {
  background: url("../assets/hero/Hero.jpg") no-repeat center center;
  background-size: cover;
  font-family: "Fonts", cursive !important;
}
.HeroText {
  font-size: 45px;
  font-weight: 100;
  color: #fff;
  text-align: center;
}

/* delivery */
.DeliveryContainer {
  margin: 100px 0;
}
.Delivery {
  background-color: #fae0df;
  padding: 0px;
  width: 100%;
}
.DeliveryItem {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
}
.Icon {
  width: 50px !important;
  height: 50px !important;
}
.DeliveryText {
  font-size: 20px;
  font-weight: 500;
}
.DeliveryGrid {
  max-width: 1200px;
  margin: 0 auto !important;
}
.SvgContainerOne {
  overflow: hidden;
  height: 98px;
}
.SvgContainer {
  overflow: hidden;
}
.Svg1 {
  fill: #fae0df;
  width: 100vw;
  height: 100px;
  transform: rotate(180deg) scaleX(-1);
}
.Svg {
  fill: #fae0df;
  width: 100vw;
  height: 200px;
  transform: scaleX(-1);
}

@media screen and (min-width: 380px) {
  .HeroText {
    font-size: 60px;
  }
  .Icon {
    width: 70px !important;
    height: 70px !important;
  }
}

@media screen and (min-width: 600px) {
  /* delivery */

  .Delivery {
    padding: 100px 30px;
  }
  .SvgContainerOne {
    height: 80px;
  }

  .Svg1 {
    height: 90px;
  }

  .DeliveryItem {
    height: 200px;
  }
  .DeliveryText {
    font-size: 30px;
  }
  .DeliveryTextSpan {
    color: gray;
    font-size: 15px;
  }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 900px) {
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
