@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400;500;600;700;800;900&display=swap");
@font-face {
  font-family: 'Fonts';
  src: url('../assets/font/magnisa-sans-font-1687741923-0/Magnisasans-Regular-BF641b06340b5e9.otf'); 
}
@media screen and (max-width: 900px) {
  .NavBarContainer {
    background-color: transparent !important;
    width: 100vw;
  }
  .NavBar {
    position: unset !important;
    width: 100vw !important;
    background-color: transparent !important;
    color: gray !important;
    box-shadow: none !important;
    flex-direction: row-reverse !important;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0px 20px;
  }
  .IconContainer {
    width: 100%;
    justify-content: space-between;
    display: flex;
  }
  .Button {
    text-decoration: none;
  }
.BrandLink{
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  transition: ease .3s;
}
.BrandLink:hover{
  color: #a86e3b;
}
  .Brand {
    font-family: "Fonts", cursive !important;
    font-size: 35px !important;
    margin: 0px !important;
    text-transform: uppercase;
  }
  .MobileBrand {
    font-family: "Fonts", cursive !important;
    font-size: 20px !important;
  }
  .Link {
    color: gray;
    margin: 0 10px;
    text-decoration: none;
  }
  .Link:hover {
    color: #a86e3b;
    transition: ease 0.3s;
  }
  .IconButton {
    padding: 0px !important;
  }
  .ShoppingCartContainer {
    padding-right: 10px !important;
  }
  .MenuIcon {
    padding-left: 15px !important;
  }
  .Toolbar {
    padding: 0px !important;
  }
}
@media screen and (min-width: 900px) {
  .Brand {
    display: none;
  }
  .BrandLink{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: ease .3s;
  }
  .BrandLink:hover{
    color: #a86e3b;
  }
  .DesktopBrand {
    font-family: "Fonts", cursive !important;
    font-size: 35px !important;
    width: 33vw !important;
    max-width: 400px;
    text-transform: uppercase;
  }
  .NavBarContainer {
    background-color: transparent !important;
    width: 100vw;
  }
  .NavBar {
    max-width: 1200px;
    background-color: transparent !important;
    color: gray !important;
    box-shadow: none !important;
    flex-direction: row-reverse !important;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    position: unset !important;
    height: 90px;
    padding: 0px 20px;
  }
  .IconButton {
    padding: 0px !important;
  }
  .ShoppingCartContainer {
    display: flex;
    width: 33vw !important;
    justify-content: flex-end !important;
    max-width: 400px;
  }
  .Toolbar {
    display: flex !important;
    flex-direction: row-reverse;
    width: 33vw;
    max-width: 400px;
  }

  .Items {
    width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 30vw;
  }
  .Link {
    color: gray;
    margin: 0 10px;
    text-decoration: none;
  }
  .Link:hover {
    color: #a86e3b;
    transition: ease 0.3s;
  }
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
