@font-face {
  font-family: "Fonts";
  src: url("../assets/font/MerchantTypeface/Variable-TT/Merchant-VF.ttf");
}

.Open {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 20px;
  padding: 0px;
  font-size: 14px;
}
.Menu {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
}

.Category {
  list-style-type: none;
  color: gray;
  margin: 0 10px;
  text-decoration: none;
}
.Category:hover {
  color: #a86e3b;
  transition: ease 0.3s;
}
.Close {
  display: none;
}
.NavBarContainer {
  background-color: transparent !important;
  width: 100vw;
}
.NavBar {
  position: unset !important;
  width: 100vw !important;
  background-color: transparent !important;
  color: gray !important;
  box-shadow: none !important;
  flex-direction: row-reverse !important;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0px 20px;
}

.Button {
  text-decoration: none;
}
.BrandLink {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  transition: ease 0.3s;
}
.BrandLink:hover {
  color: #a86e3b;
}
.Brand {
  font-family: "Fonts", cursive !important;
  font-size: 45px !important;
  margin: 0px !important;
  text-transform: uppercase;
}
.MobileBrand {
  font-family: "Fonts", cursive !important;
  font-size: 20px !important;
}
.Link {
  color: gray;
  margin: 0 10px;
  text-decoration: none;
}
.Link:hover {
  color: #a86e3b;
  transition: ease 0.3s;
}

.Toolbar {
  padding: 0px !important;
}

@media screen and (min-width: 900px) {
  .Shop:hover {
    transition: all ease 0.3s;
  }

  .Open {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 0px;
    padding: 0px;
    font-size: 14px;
    transition: ease 0.3s;
  }
  .List {
    background-color: #fff !important;
    position: absolute;
    top: 82px;
    width: 100vw;
  }
  .Menu {
    align-items: center;
    text-align: center;
    position: relative;
    top: 75px;
  }

  .Brand {
    display: none;
  }
  .BrandLink {
    letter-spacing: 2px;
  }

  .DesktopBrand {
    font-family: "Fonts", cursive !important;
    font-size: 35px !important;
    width: 33vw !important;
    max-width: 400px;
    text-transform: uppercase;
  }

  .NavBar {
    max-width: 1200px;
    margin: 0 auto;
  }

  .ShoppingCartContainer {
    display: flex;
    width: 33vw !important;
    justify-content: flex-end !important;
    max-width: 400px;
  }
  .Toolbar {
    display: flex !important;
    flex-direction: row-reverse;
    width: 33vw;
    max-width: 400px;
  }

  .Items {
    width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 30vw;
  }

  /* Menu */

  .ShopMenu {
    width: 100%;
    position: absolute !important;
    top: 0px !important;
    z-index: 100;
    height: 100px;
    border: none !important;
    box-shadow: none !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: ease 0.5s;
  }
  .MenuItem {
    justify-content: center;
  }
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
