@media screen and (max-width: 600px) {
  .Trendy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 0;
  }
  .Product {
    margin: 10px;
  }
  .ProductGrid {
    justify-content: center;
    margin: 50px 0 !important;
  }
  .Popular {
    font-size: 20px;
  }
  .TrendyTitle {
    font-size: 50px;
  }
  .Divider {
    background-color: #a86e3b;
    height: 2px;
    width: 100px;
  }
  .Image {
    border-radius: 0px !important;
    height: 400px !important;
    width: 85vw;
    max-width: 320px;
    object-fit: cover;
  }
  .CardCover {
    border-radius: 0px !important;
  }
  .Button {
    border-radius: 0px !important;
    background-color: #000 !important;
    margin: 0 auto;
    padding: 15px 40px !important;
    color: #fff;
  }
  .Button:hover {
    opacity: 0.8;
    transition: ease 0.3s;
  }
}

@media screen and (min-width: 600px) {
  .Trendy {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 0;
  }
  .ProductGrid {
    justify-content: center;
    margin: 50px 0 !important;
    
  }
  .Product {
    margin: 10px;
  }
  .Popular {
    font-size: 20px;
  }
  .TrendyTitle {
    font-size: 50px;
  }
  .Divider {
    background-color: #a86e3b;
    height: 2px;
    width: 100px;
  }
  .Image {
    border-radius: 0px !important;
    height: 400px !important;
    width: 45vw;
    max-width: 320px;
    object-fit: cover;
  }
  .Button {
    border-radius: 0px !important;
    background-color: #000 !important;
    margin: 0 auto;
    padding: 15px 40px !important;
    color: #fff;
  }
  .Button:hover {
    opacity: 0.8;
    transition: ease 0.3s;
  }
  .CardCover {
    border-radius: 0px !important;
  
  }
}
@media screen and (min-width: 900px) {
  .Image {
    width: 20vw;
    max-width: 280px;
  }
}
