@media screen and (max-width: 600px) {
  .ProductDetails {
    width: 95vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 10px;
  }
  .ImageSkeleton {
    width: 100vw;
    height: 600px;
  }
  .Product {
    width: 95vw;
    margin: 0 auto;
  }
  .Button {
    position: absolute !important;
    z-index: 10;
    top: 20px;
    left: 20px;
    background-color: transparent !important;
    color: rgb(94, 93, 93) !important;
  }
  .ProductInformation {
    width: 85%;
  }
  .Divider {
    margin: 30px !important;
  }
  .Size {
    font-size: 13px;
    font-weight: 600;
    color: rgb(94, 93, 93);
    padding-left: 5px;
  }
  .Form {
    margin: 10px 0;
  }
  .Name {
    font-weight: 600 !important;
    margin: 10px 0 !important;
  }
  .Price {
    font-weight: 600 !important;
    margin: 10px 0 !important;
  }
  .Description {
    max-width: 80vw;
    padding: 5% 10% 0%;
  }

  .AddToCartButton {
    width: 100%;
    background-color: #000 !important;
    color: #fff !important;
    margin: 50px 0 !important;
    border-radius: 0px !important;
  }
  .Select {
    border-radius: 20px;
    width: 88vw;
    padding: 10px;
    margin: 10px 0;
  }
  .Option {
    padding: 17px !important;
    margin: 0 3px !important;
    width: 30px;
    height: 30px;
    border: none !important;
    border-radius: 20px !important;
    color: #fff !important;
    font-size: 10px !important;
    font-weight: 100;
  }

  .ProductMaterial{
margin-bottom: 50px;
  }
}
@media screen and (min-width: 600px) {
  .ProductDetails {
    width: 95vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 10px;
  }
  .Product {
    width: 95vw;
    margin: 0 auto;
  }
  .Button {
    position: absolute !important;
    z-index: 10;
    top: 20px;
    left: 20px;
    background-color: transparent !important;
    color: rgb(94, 93, 93) !important;
  }
  .ProductInformation {
    width: 85%;
  }
  .Divider {
    margin: 30px !important;
  }
  .Size {
    font-size: 13px;
    font-weight: 600;
    color: rgb(94, 93, 93);
    padding-left: 5px;
  }
  .Form {
    margin: 10px 0;
  }
  .Name {
    color: rgb(94, 93, 93);
    font-weight: 600 !important;
    margin: 10px 0 !important;
  }
  .Price {
    font-weight: 600 !important;
    margin: 10px 0 !important;
  }
  .Description {
    max-width: 80vw;
    padding: 5% 10% 0%;
  }

  .AddToCartButton {
    width: 100%;
    background-color: #000 !important;
    color: #fff !important;
    margin: 50px 0 !important;
    border-radius: 0px !important;
  }
  .Select {
    border-radius: 20px;
    width: 88vw;
    padding: 10px;
    margin: 10px 0;
  }
  .Option {
    padding: 17px !important;
    margin: 0 3px !important;
    width: 30px;
    height: 30px;
    border: none !important;
    border-radius: 20px !important;
    color: #fff !important;
    font-size: 10px !important;
    font-weight: 100;
  }
  .Option:hover{
    background-color: #fae0df!important;
    transition: ease .3s;
  }
  .ProductMaterial{
    margin-bottom: 50px;
      }
}
@media screen and (min-width: 768px) {
  .ProductDetails {
    flex-direction: row;
    align-items: flex-start;
    max-width: 1200px;
  }
  .Product {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 20px;
  }
  
  .Carousel {
    width: 70%;
  }
  .Divider {
    margin: 10px 0 !important;
  }
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
