.Breadcrumbs {
  text-decoration: none;
  color: gray;
  font-family: "Montserrat", sans-serif;
}
.Breadcrumbs:hover {
  color: #a86e3b;
  transition: ease 0.3s;
}
.BreadcrumbsContainer {
  max-width: 1200px;
  width: 90vw;
  margin: 0 auto;
}
.Select {
  border-radius: 0px !important;
  border-top: 0px !important;
  border-bottom: 0px !important;
  margin-left: auto;
}

.ProductsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Category {
  margin: 25px 0;
}
.Link {
  color: #fff !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400 !important;
  font-size: 27px !important;
  letter-spacing: 2px !important;
}

@media screen and (min-width: 600px) {
  .ProductsContainer {
    align-items: flex-start;
    margin: 0 auto;
  }
  .Category {
    margin: 15px;
  }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
  .ProductsContainer {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1200px) {
}
