@media screen and (max-width: 600px) {
  .ProductContainer {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 20px 5px;
  }
  .Product {
    border-radius: 20px !important;
  }
  .Image {
    height: 200px;
  }
  .Name {
    margin-top: 5px;
    padding: 10px 0;
    font-weight: 600;
  }
  .Text {
    font-size: 12px;
  }
  .TextContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
  }
}
@media screen and (min-width: 600px) {
  .ProductContainer {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 20px 10px;
  }
  .Product {
    border-radius: 20px !important;
  }
  .Image {
    height: 200px;
  }
  .Name {
    margin-top: 5px;
    padding: 10px 0;
    font-weight: 600;
  }
  .Text {
    font-size: 12px;
  }
  .TextContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
  }
}
@media screen and (min-width: 768px) {
  .Text {
    font-size: 15px;
  }
}
@media screen and (min-width: 992px) {
  .ProductContainer {
    width: 225px;
  }
  .Image {
    height: 350px;
  }
}
@media screen and (min-width: 1200px) {
}
