@media screen and (max-width: 600px) {
  .ProductDetails {
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 10px;
  }
  .Button {
    position: absolute !important;
    z-index: 10;
    top: 20px;
    left: 20px;
    background-color: transparent !important;
    color: gray !important;
  }
  .ProductInformation {
    width: 85%;
  }
  
  .Name {
    color: rgb(94, 93, 93);
    line-height: 0px !important;
    position: relative;
    top: 15px;
  }
  .Description {
    font-size: 25px !important;
    font-weight: 600 !important;
  }
  
  .AddToCartButton {
    width: 90%;
    border-radius: 20px !important;
  }
  .Select {
    border-radius: 20px;
    width: 88vw;
    padding: 10px;
    margin: 10px 0;
  }
  .Option {
  }
  
}
@media screen and (min-width: 600px) {
  .ProductDetails {
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 10px;
  }
  .Button {
    position: absolute !important;
    z-index: 10;
    top: 20px;
    left: 20px;
    background-color: transparent !important;
    color: gray !important;
  }
  .ProductInformation {
    width: 85%;
  }
  
  .Name {
    color: rgb(94, 93, 93);
    line-height: 0px !important;
    position: relative;
    top: 15px;
  }
  .Description {
    font-size: 25px !important;
    font-weight: 600 !important;
  }
  
  .AddToCartButton {
    width: 90%;
    border-radius: 20px !important;
  }
  .Select {
    border-radius: 20px;
    width: 88vw;
    padding: 10px;
    margin: 10px 0;
  }
  .Option {
  }
  
  
}
@media screen and (min-width: 768px) {
.ProductDetails{
  flex-direction: row;
    align-items: flex-start;
}
.Product{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 400px;
  width: 70%;
  margin: 20px;
}
  .Carousel{
  width: 70%;
}

.Name{
  line-height: unset !important; 
  top: unset;
}
.Form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.ButtonGroup{
  display: flex!important;
  flex-direction: row;

}

.AddToCartButton {
  margin: 15px 0!important;
  border-radius: 5px !important;
  background-color: pink!important;
  color: #fff!important;
}

.Option {
  padding: 17px!important;
  margin: 0 3px!important;
  width: 30px;
  height: 30px;
  border: none!important;

  border-radius: 5px!important;
  color: #fff!important;
}

}
@media screen and (min-width: 992px) {

}
@media screen and (min-width: 1200px) {
}
