@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400;500;600;700;800;900&display=swap');
.App{
   height: calc(100% - 90px);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   /* font-family: 'Cinzel', serif; */
   font-family: 'Cinzel Decorative', cursive;
}